<section class="relative py-20 overflow-hidden">
    <div class="relative container px-4 mx-auto">
        <div class="max-w-7xl mx-auto">
            <div class="pb-8 mb-16 border-b border-gray-100 text-center">
                <a class="inline-block" routerLink="">
                    <img class="h-16" src="assets/images/a-news.svg" alt="">
                </a>
            </div>
            <div class="flex flex-wrap -mb-5 -mx-6 items-center justify-center">
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="business">Business</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="technology">Technology</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="sports">Sports</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="sience">Sience</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="general">General</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="entertainment">Entertainment</a>
                </div>
                <div class="px-6 mb-5">
                    <a class="inline-block text-sm text-gray-900 hover:text-angular-900 font-medium"
                        routerLink="health">Health</a>
                </div>
            </div>
            <div class="mt-16 text-center"><span class="text-gray-500">&copy; Developed by Tarik Cekirge</span>
            </div>
        </div>
    </div>
</section>